body {
    margin: 0;
    padding: 0;
    font-size: small;
    font-family: arial, sans-serif;
    background-color: #FFF;
    color: #222;
    display: block;
}

body a {
    text-decoration: none;
    color:#1A0DA8;
}


/*----HEADER----*/

    #header-search {
        background-color: #FFF;
        position: sticky;
        top: 0;
        z-index: 1;
        display: flex;
        padding: 16px;
        align-items: center;
    }

    #google-logo {
        margin: 2px 40px 0px 8px;
    }

    #search-box {
        box-sizing: border-box;
        display: inline-flex;
        height: 44px;
        width: 690px;
        border: 1px solid rgba(0,0,0,.12);
        border-radius: 40px;
        align-items: center;
        padding: 0 10px 0 20px;
    }

    #search-box:hover, #search-box:focus {
        box-shadow: 0px 1px 6px #ccc;
    }

    #search-input{
        width: 584px;
        padding: 0;
        border: none;
        border-image: initial;
        font-family: inherit;
        font-size: 16px;
    }


    #search-input:focus {
        outline: none;
    }

    .sbox-icons {
        display: inline-block;
        padding: 0px 10px;
    }

    #x-icon {
        height: 24px;
        width: 24px;
        filter: invert(.3);
        border-right: 1px solid rgba(0,0,0,.15);
    }

    #search-icon {
        height: 20px;
        width: 20px;
        filter: invert(38%) sepia(90%) saturate(1326%) hue-rotate(203deg) brightness(101%) contrast(91%);
    }

    #user-items {
        margin-left: auto;
        display: flex;
    }

    #user-items > * {
        margin-right: 12px;
    }

    #apps {
        text-decoration: none;
        height: 30px;
        width: 30px;
        padding: 7px;
        display: inline-block;
        box-sizing: border-box;
    }

    .round {
        padding: 5px;
        border-radius: 50%;
    }

    .round:hover {
        background-color: #EEE;
    }

    #apps > div {
        display: grid;
        grid-template-rows: repeat(3,1fr);
        grid-template-columns: repeat(3,1fr);
        gap: 2px;
    }

    #apps > div > div {
        width: 4px;
        height: 4px;
        background-color: #777;
        border-radius: 3px;
    }

    #apps:hover > div > div {
        background-color: #222;
    }

    #profile {
        box-sizing: border-box;
        display: inline-flex;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: rgb(22, 151, 130);
        color: #FFF;
        justify-content: center;
        align-items: center;
        padding-top: 2px;
    }

    .nav-icons {
        display: inline-block;
        height: 16px;
        width: 16px;
        margin-right: 2px;
    }

    #more-icon{
        margin-right: -2px;
    }

    #header-nav {
        display: flex;
        padding-left: 164px;
        /* padding-bottom: 2px; */
        border-bottom: 1px solid #eee;
        font-size: 13px;
        line-height: 16px;
    }

    #header-nav #current {
        color: #1a73e8;
        border-bottom: 3px solid #1a73e8;
    }

    #header-nav #current svg {
        filter: invert(30%) sepia(53%) saturate(2607%) hue-rotate(201deg) brightness(100%) contrast(93%);
    }

    #header-nav > a {
        display: inline-block;
        padding: 8px 11px 4px 11px;
        color: #5f6368;
    }

    svg {
        filter: invert(.4);
    }

    #header-nav span{
        vertical-align: text-bottom;
    }

    #header-nav > div {
        display: inline-block;
        width: 84px;
    }
    
    #header-nav .nav-config {
        display:inline-block;
        box-sizing: border-box;
        padding: 5px 10px;
        border: 1px solid white;
        margin: 4px 3px;
    }

    #tool-button:hover {
        background-color: rgba(0,0,0,.04);
        border-radius: 2px;
        border: 1px solid #ccc;
        box-shadow: 0px 1px 1px #eee;
    }

    #results {
        font-size: 14px;
        padding-left: 174px;
        color: #70757A;
        line-height: 48px;
    }




main {
    margin: 0px 20px 20px 176px;
    width: 640px;
    font-size: 14px;
    color: #4D5156;
    line-height: 1.58;
}

main a:hover {
    text-decoration: underline;
}

.link-header {
    font-size: 20px;
}

    .result {
        margin: 36px 0px;
        width: 600px;
    }
        .top-url {
            color: #202124;
        }

            .top-url a {
                color: inherit;
            }
                .top-url a:hover {
                    text-decoration: none;
                }
    
        .top-url-sub {
            color: #5F6368;
        }

        .triangle-menu {
            height:7px;
            width: 7px;
            margin: 0 0 1px 4px; 
            opacity: 0.6;
        }

        .rating {
            margin-top: -1px;
            margin-bottom: -8px;
            display: inline-flex;
        }

            .rating span{
                margin: 2px 0 0 4px;
                color: #70757a
            }

            #star-rating {
                width: 76px;
                height: 24px;
            }



    #top-result {
        margin: 0px;
    }

    #top-result-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-left: 22px;
        margin-top: 10px;
        row-gap: 5px;
    }

        #top-result-grid > * {
            width: 294px;
            padding: 3px 0 3px 5px;
            border: 1px solid transparent;

        }

        .gi-descrip {
            width: 220px;
            margin-top: -2px;
        }
    
    #people-ask {
        color: #222;
        font-size: 16px;
        margin-top: 28px;
        border: 1px solid rgba(0,0,0,.12);
        border-radius: 8px;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: repeat(4, 44px);
    }

        #people-ask a {
            color: inherit;
        }
            #people-ask a:hover {
                text-decoration: none;
            }

        #people-ask > * {
            padding: 0px 16px;
            line-height: 44px;
            border-top: 1px solid rgba(0,0,0,.12);
        }

        #pa-title {
            border-top: none;
            font-size:20px;
            grid-area: 1/1/2/3;
        }

        .pa-drop-down img{
            height: 12px;
            width: 12px;
            opacity: 0.5;
        }

    #pa-feedback {
        margin-top: 3px;
        font-size: 12px;
        color: #70757A;
        padding-right: 16px;
        text-align: right;
    }
        #pa-feedback a{
            color: inherit;
        }

    #search-related {
        font-size: 20px;
        color: #222;
        padding-bottom: 20px;
        margin-top: -10px;
    }

    #search-pages > * {
        display: inline-block;
        padding-right: 30px;
    }

    #search-pages > * > div {
        display: flex;
        vertical-align: center;
        height: 30px;
        font-size: 16px;
        color: #1A0DA8;
    }

        #search-pages svg {
            padding-top: 4px;
            width: 16px;
            height: 16px;
            filter: invert(12%) sepia(79%) saturate(5310%) hue-rotate(242deg) brightness(76%) contrast(106%);
        }

        #search-pages span {
            padding-left: 16px;
            display: inline-block;
        }
