body {
    margin: 0;
    padding: 0;
    font-size: small;
    font-family: arial, sans-serif;
    background-color: #FFF;
    color: #222;
    display: block;
}

body a {
    text-decoration: none;
    color:#1A0DA8;
}


/*----HEADER----*/

    #header-search {
        background-color: #FFF;
        position: sticky;
        top: 0;
        z-index: 1;
        display: flex;
        padding: 16px;
        align-items: center;
    }

    #google-logo {
        margin: 2px 40px 0px 8px;
    }

    #search-box {
        box-sizing: border-box;
        display: inline-flex;
        height: 44px;
        width: 690px;
        border: 1px solid rgba(0,0,0,.12);
        border-radius: 40px;
        align-items: center;
        padding: 0 10px 0 20px;
    }

    #search-box:hover, #search-box:focus {
        box-shadow: 0px 1px 6px #ccc;
    }

    #search-input{
        width: 584px;
        padding: 0;
        border: none;
        border-image: initial;
        font-family: inherit;
        font-size: 16px;
    }


    #search-input:focus {
        outline: none;
    }

    .sbox-icons {
        display: inline-block;
        padding: 0px 10px;
    }

    #x-icon {
        height: 24px;
        width: 24px;
        filter: invert(.3);
        border-right: 1px solid rgba(0,0,0,.15);
    }

    #search-icon {
        height: 20px;
        width: 20px;
        filter: invert(38%) sepia(90%) saturate(1326%) hue-rotate(203deg) brightness(101%) contrast(91%);
    }

    #user-items {
        margin-left: auto;
        display: flex;
    }

    #user-items > * {
        margin-right: 12px;
    }

    #apps {
        text-decoration: none;
        height: 30px;
        width: 30px;
        padding: 7px;
        display: inline-block;
        box-sizing: border-box;
    }

    .round {
        padding: 5px;
        border-radius: 50%;
    }

    .round:hover {
        background-color: #EEE;
    }

    #apps > div {
        display: grid;
        grid-template-rows: repeat(3,1fr);
        grid-template-columns: repeat(3,1fr);
        gap: 2px;
    }

    #apps > div > div {
        width: 4px;
        height: 4px;
        background-color: #777;
        border-radius: 3px;
    }

    .round:hover > #apps > div > div {
        background-color: #222;
    }

    #profile {
        box-sizing: border-box;
        display: inline-flex;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: rgb(22, 151, 130);
        color: #FFF;
        justify-content: center;
        align-items: center;
        padding-top: 2px;
    }

    .nav-icons {
        display: inline-block;
        height: 16px;
        width: 16px;
        margin-right: 2px;
    }

    #more-icon{
        margin-right: -2px;
    }

    #header-nav {
        display: flex;
        padding-left: 164px;
        /* padding-bottom: 2px; */
        border-bottom: 1px solid #eee;
        font-size: 13px;
        line-height: 16px;
    }

    #header-nav #current {
        color: #1a73e8;
        border-bottom: 3px solid #1a73e8;
    }

    #header-nav #current svg {
        filter: invert(30%) sepia(53%) saturate(2607%) hue-rotate(201deg) brightness(100%) contrast(93%);
    }

    #header-nav > a {
        display: inline-block;
        padding: 8px 11px 4px 11px;
        color: #5f6368;
    }

    svg {
        filter: invert(.4);
    }

    #header-nav span{
        vertical-align: text-bottom;
    }

    #header-nav > div {
        display: inline-block;
        width: 84px;
    }
    
    #header-nav .nav-config {
        display:inline-block;
        box-sizing: border-box;
        padding: 5px 10px;
        border: 1px solid white;
        margin: 4px 3px;
    }

    #tool-button:hover {
        background-color: rgba(0,0,0,.04);
        border-radius: 2px;
        border: 1px solid #ccc;
        box-shadow: 0px 1px 1px #eee;
    }

    #results {
        font-size: 14px;
        padding-left: 174px;
        color: #70757A;
        line-height: 48px;
    }


                /*--------------------------------------*/
                /*-----------------MAIN-----------------*/
                /*--------------------------------------*/
main {
    width: 100%;
    display: flex;
}


#main-content {
    display: inline-block;
    margin: 0px 20px 20px 176px;
    width: 640px;
    font-size: 14px;
    color: #4D5156;
    line-height: 1.58;
}

main a:hover {
    text-decoration: underline;
}

.link-header {
    font-size: 20px;
}

    .result {
        margin: 36px 0px;
        width: 600px;
    }
        .top-url {
            color: #202124;
        }

            .top-url a {
                color: inherit;
            }
                .top-url a:hover {
                    text-decoration: none;
                }
    
        .top-url-sub {
            color: #5F6368;
        }

        .triangle-menu {
            height:7px;
            width: 7px;
            margin: 0 0 1px 4px; 
            opacity: 0.6;
        }

        .rating {
            margin-top: -1px;
            margin-bottom: -8px;
            display: inline-flex;
        }

            .rating span{
                margin: 2px 0 0 4px;
                color: #70757a
            }

            #star-rating {
                width: 76px;
                height: 24px;
            }



    #top-result {
        margin: 0px;
    }

    #top-result-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-left: 22px;
        margin-top: 10px;
        row-gap: 5px;
    }

        #top-result-grid > * {
            width: 294px;
            padding: 3px 0 3px 5px;
            border: 1px solid transparent;

        }

        .gi-descrip {
            width: 220px;
            margin-top: -2px;
        }
    
    #people-ask {
        color: #222;
        font-size: 16px;
        margin-top: 28px;
        border: 1px solid rgba(0,0,0,.12);
        border-radius: 8px;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: repeat(4, 44px);
    }

        #people-ask a {
            color: inherit;
        }
            #people-ask a:hover {
                text-decoration: none;
            }

        #people-ask > * {
            padding: 0px 16px;
            line-height: 44px;
            border-top: 1px solid rgba(0,0,0,.12);
        }

        #pa-title {
            border-top: none;
            font-size:20px;
            grid-area: 1/1/2/3;
        }

        .pa-drop-down img{
            height: 12px;
            width: 12px;
            opacity: 0.5;
        }

    #pa-feedback {
        margin-top: 3px;
        font-size: 12px;
        color: #70757A;
        padding-right: 16px;
        text-align: right;
    }
        #pa-feedback a{
            color: inherit;
        }

    #search-related-title {
        font-size: 20px;
        color: #222;
        padding-bottom: 20px;
        margin-top: -10px;
    }

    #search-related > * {
        display: inline-block;
        padding-right: 30px;
    }

    #search-related > * > div {
        display: flex;
        vertical-align: center;
        height: 30px;
        font-size: 16px;
        color: #1A0DA8;
    }

        #search-related svg {
            padding-top: 4px;
            width: 16px;
            height: 16px;
            filter: invert(12%) sepia(79%) saturate(5310%) hue-rotate(242deg) brightness(76%) contrast(106%);
        }

        #search-related span {
            padding-left: 16px;
            display: inline-block;
        }
    
    #search-pages {
        /* line-height: 2em; */
        display: inline-flex;
        margin-left: 168px;
    }

        #search-pages >* {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
        }

        #search-pages a {
            color: #4285F4;
        }

            .google-o , #red-o{
                display: inline-flex;
                flex-direction: column;
                align-items: center;
                margin-left:1px;
            }

            .google-letters {
                max-height: 43px;
                max-width: auto;
            }
            
            #next {
                width: 28px;
                height: 65px;
                display: flex;
                flex-direction: column;
                padding-left: 10px;
            }

            #right-arrow {
                margin: 14px 0 17px 8px;
                width: 12px;
            }

    
            /*-------------ASIDE------------*/

    aside {
        display: inline-block;
        flex-direction: column;
        margin-left:44px;
    }

        #aside-box {
            font-size: 14px;
            display: flex;
            flex-direction: column;
            border: 1px solid #dfe1e5;
            border-radius: 8px;
        }

            #aside-box > header{
                display: flex;
                padding: 4px 0px 0 12px;
                align-items: center;
            }

                #aside-company {
                    box-sizing: border-box;
                    padding: 0 15px 0 4px;
                }

                #aside-title{
                    display:inline-flex;
                    font-size: 30px;
                    line-height: 1.2;
                    color: rgba(0,0,0,.87);
                    align-items: center;
                }

                #share-icon {
                    display: inline-block;
                    height: 24px;
                    width: 24px;
                    padding: 8px 8px 8px 8px;
                    margin-left: 4px;
                }

                #aside-subtitle {
                    color: #70757a;
                    line-height: 1.58;
                    margin: 4px 0;
                }
                
            #web-page {
                border-top: 1px solid rgba(0,0,0,.08);
                border-bottom: 1px solid #dfe1e5;
                padding: 7px 16px;
            }
                #web-page > a {
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    color:  #1a0dab;
                }
                #web-page svg {
                    width: 24px;
                    height: 24px;
                    padding-right: 24px;
                }
                
            #web-information {
                display: flex;
                flex-direction: column;
                padding: 8px;
            }

                #web-information >* {
                    display: flex;
                    padding: 6px;
                    align-items: center;
                }

                .fou-org b > a {
                    color: inherit;
                }

                #disclaimer {
                    display: block;
                    font-size: 12px;
                    color: rgba(0,0,0,.54);
                    text-align: right;
                }

                    #disclaimer a {
                        color: inherit;
                    }

            #profiles {
                font-size: 20px;
                padding: 12px 0 0 14px;
            }

            #profiles-img {
                display: flex;
                padding: 12px 32px;
            }

                #profiles-img > a {
                    width: 72;
                    height: 55;
                    padding-right: 32px;
                    display: flex;
                    flex-direction: column;
                }

                    #profiles-img > a > div {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-bottom: 4px;
                    }

            #as-header {
                padding-left: 14px;
                padding-top: 12px;
            }

                #as-header > span {
                    display: inline-block;
                    padding: 2px 134px 2px 0px;
                    font-size: 20px;
                }

                #as-header > a {
                    color: #70757A;
                }
                    

            #as-img {
                display: flex;
                justify-content: space-around;
                padding: 4px 0 20px 4px;
            }

                #as-img > a {
                    display: flex;
                    flex-direction: column;
                }

                    #as-img div {
                        height: 77px;
                        width: 77px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 4px;
                    }

            aside footer {
                display: flex;
                justify-content: space-between;
                padding: 4px;
                padding-right: 16px;
            }

                aside footer a {
                    color: inherit;
                }

                #claim-button {
                    border: 1px solid #dfe1e5;
                    padding: 11px 14px;
                    border-radius: 18px;
                    display: flex;
                    color: #3c4043;
                    align-items: center;

                }

                    #claim-button:hover {
                        text-decoration: none;
                        background-color: #FAFAFA
                    }

                    #claim-icon {
                        display: block;
                        width: 16px;
                        height: 16px;
                        margin-right: 8px;
                    }

                        #claim-icon svg {
                            filter: invert(43%) sepia(84%) saturate(973%) hue-rotate(198deg) brightness(93%) contrast(106%);
                        }


    /* -------------------FOOTER-------------------- */

    #main-footer {
        margin-top: 10px;
        color: #5f6368;
        background-color: #F2F2F2;
        font-size: 14px;
        line-height: 40px;
    }

        #main-footer >* {
            padding-left: 176px;
            display:flex;
            border-top: 1px solid #e4e4e4;
        }

        #main-footer a {
            color: inherit;
        }

            #main-footer a:hover {
                color: #333;
            }

        #main-footer b {
            color: #333;
        }

        #f-country {
            display: flex;
            line-height: 20px;
            align-items: center;
        }

            #f-country > span {
                color: rgba(0,0,0,.54);
                display: inline-block;
                border-right: 1px solid #e4e4e4;
                padding: 2px 12px 2px 0px;
                margin-right: 16px;
            }


        #f-circle {
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: #5f6368;
            opacity: 0.6;
            margin: 15px 5px 0 0;
        }

        #bot-fbar > *{
            margin-right: 28px;
        }
        
