body {
    margin: 0;
    padding: 0;
    font-size: small;
    font-family: arial, sans-serif;
    background-color: #FFF;
    color: #222;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

/* -----TOP PART-----*/
#top-items {
    display: flex;
    justify-content: flex-end;
    margin: 15px 10px;
}

#links {
    box-sizing: border-box;
    display: flex;
    align-content: center;
}

#links div{
    box-sizing: border-box;
    padding-top: 8px;
}

#links div a:hover {
    color: #777;
    text-decoration: underline;
}

#links div:last-child{
    margin: 0 16px;
}

#account-items {
    display: flex;
}

#apps {
    text-decoration: none;
    height: 30px;
    width: 30px;
    padding: 7px;
    display: inline-block;
    box-sizing: border-box;
}

#apps > div {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 2px;
}

#apps > div > div {
    width: 4px;
    height: 4px;
    background-color: #777;
}

#apps:hover > div > div {
    background-color: #222;
}

#profile {
    display: inline-flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(22, 151, 130);
    color: #FFF;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
}

/* -----main content----- */
#main {
   text-align: center;
}

#main > * {
    display: inline-block;
}

#google-logo {
    margin-top: 138px;
}

#search-box {
    box-sizing: border-box;
    margin-top: 30px;
    display: inline-flex;
    height: 44px;
    width: 580px;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 40px;
    align-items: center;
    padding: 0 20px;
}

#search-box:hover, #search-box:focus {
    box-shadow: 0px 1px 6px #ccc;
}

#search-icon > img {
    width: 15px;
    height: 15px;
    padding-right: 16px;
}

#search-bar > input {
    width: 484px;
    padding: 0;
    border: none;
    border-image: initial;
    font-family: inherit;
    font-size: 16px;
}

#search-bar > input:focus {
    outline: none;
}

#buttons {
    display: inline-flex;
    margin: 30px 0;
}

#buttons > span {
    margin: 0 5px;
}

.button {
    box-sizing: border-box;
    padding: 8px 16px;
    font-size: 14px;
    background-color: rgba(0,0,0,.05);
    color: rgba(0,0,0,.7);
    border: 1px solid rgba(0,0,0,0.02);
    border-radius: 4px;
}

.button:hover {
    border-color: rgba(0, 0, 0, 0.3);
    color: #111;
}

#buttons a:active .button{
    border-color: rgb(0, 153, 255);
}

#reg-lang a {
    color: rgb(48, 48, 182);
    margin: 0 3px;
}


/* -----footer nav-bar----- */
#fbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: rgba(0,0,0,.68);
    background-color: rgba(0,0,0,.05);
    font-size: 14px;
    line-height: 40px;
}

#country {
    font-size: 15px;
    color: rgba(0,0,0,.54);
    padding-left: 27px;
    border-top: 1px solid rgba(0,0,0,.07);
    border-bottom: 1px solid rgba(0,0,0,.08);
}

#fbar-bot {
    display: flex;
    justify-content: space-between;
    padding-right: 27px;
}

#fbar-bot > div > * {
    padding-left: 27px;
}

#fbar-bot > div > *:hover {
    text-decoration: underline;
}
